<template>
  <div class="paperback">
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <h1 class="vue-title">"The Cottage Club "</h1>
    <table align="center">
      <tr>
        <td>
          <h3><b><i>"We are a  group of like minded people, who enjoy reading books."</i></b></h3>
          <h3>Our Monthly get-togethers are a chance for us to enjoy a cuppa and a chat. (Sometimes we even talk about books.)</h3>
          <h3>Our meeting place is 'The Cottage', Chapel Lane, Dunhill.</h3>
          <h3>New members are always welcome. Please view our 'Contact Us' page for information.</h3>
        </td>

      </tr>
    </table>

  </div>
</template>

<script>
    export default {
        name: "About",
        data(){
          return{
            messagetitle:'All About Us'
          }
        }
    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }


</style>
