<template>
  <div class="paperback">
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <h1 class="vue-title">"The Cottage Club "</h1>
    <table align="center">
      <tr>
        <td>
          <h1><b>Phone: 051 333333</b></h1>
          <h1><b>E-mail:thecottageclubdunhill@thevillage.com</b></h1>
          <h2><b>Facebook:thecottageclubdunhill</b></h2>
          <h2><b>Twitter:@cottagedunhill</b></h2>
        </td>

      </tr>
    </table>
  </div>
</template>

<script>
    export default {
        name: "Contact",
        data(){
          return{
            messagetitle:' Contact Us'
          }
        }

    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

</style>
