<template>
  <div class="paperback">
    <h1 class="vue-title">"Just Read, Any Book Will Do"</h1>

    <table align="center">
      <tr>
        <td>
          <h2 class="lead"><b><i>"Honesty is the First Chapter in the Book of Wisdom"</i></b></h2>
          <h3>Let us know your opinion on your latest literary journey...</h3>
          <h3>Simply hit the <a href ="#/review">tab</a> to begin</h3>
          <h3>the Review process, and let others know your opinion...</h3>
        </td>
        <td>
          <img src="../assets/gina.gif"  alt="description here" style="width:50%;height:60%"/>
        </td>
      </tr>
    </table>

    <p></p>
    <!--<p class="lead">This is the homepage of your <b>MEVN</b> Web app</p>-->
  </div>
</template>

<style>
  .paperback {
    height: 100vh;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .paperback .lead {
    font-weight: 200;
    font-size: 2.5rem;
  }
  #app1 {
    width: 60%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

</style>
