<template>
  <form @submit.prevent="submit">
    <div class="form-group">
      <label class="form-label">Select Genre</label>
      <select id="genre" name="genre" class="form-control" type="text" v-model="genre">
        <option value="null" selected disabled hidden>Choose Genre</option>
        <option value="Romance">Romance</option>
        <option value="Mystery">Mystery</option>
        <option value="Crime">Crime</option>
        <option value="Biography">Biography</option>
      </select>
    </div>
    <div class="form-group" :class="{ 'form-group--error': $v.message.$error }">

      <label class="form__label">Title</label>
      <input class="form__input" v-model.trim="$v.title.$model"/>
    </div>
    <div class="error" v-if="!$v.title.required">Title is Required</div>
    <div class="error" v-if="!$v.title.minLength">Title must have at least {{$v.title.$params.minLength.min}} letters.</div>
    <div class="form-group" :class="{ 'form-group--error': $v.message.$error }">
      <label class="form__label">Author</label>
      <input class="form__input" v-model.trim="$v.author.$model"/>
    </div>
    <div class="error" v-if="!$v.author.required">Author is Required</div>
    <div class="error" v-if="!$v.author.minLength">Author must have at least {{$v.author.$params.minLength.min}} letters.</div>

    <div class="form-group" :class="{ 'form-group--error': $v.message.$error }">
      <label class="form__label">Review</label>
      <input class="form__input" v-model.trim="$v.message.$model"/>
    </div>
    <div class="error" v-if="!$v.message.required">Review is Required</div>
    <div class="error" v-if="!$v.message.minLength">Review must have at least {{$v.message.$params.minLength.min}} letters.</div>
    <p>
      <button class="btn btn-primary btn1" type="submit" :disabled="submitStatus === 'PENDING'">Leave Review</button>
    </p>
    <p class="typo__p" v-if="submitStatus === 'OK'">Thanks for your Review!</p>
    <p class="typo__p" v-if="submitStatus === 'ERROR'">Please Re-Enter the Review.</p>
    <p class="typo__p" v-if="submitStatus === 'PENDING'">Processing...</p>
  </form>
    
</template>

<script>
  import Vue from 'vue'
  import VueForm from 'vueform'
  import Vuelidate from 'vuelidate'
  import VueSweetalert from 'vue-sweetalert'
  import ReviewService from '@/services/ReviewService'
  import { required, minLength, between } from 'vuelidate/lib/validators'

  Vue.use(VueForm, {
    inputClasses: {
      valid: 'form-control-success',
      invalid: 'form-control-danger'
    }
  })

  Vue.use(Vuelidate)
  Vue.use(VueSweetalert)

  export default {
    name: 'Review',
    props: ['reviewBtnTitle', 'review'],
    data() {
      return {
        messagetitle: 'Reviews List',
        message: this.review.message,
        genre: this.review.genre,
        title: this.review.title,
        author: this.review.author,
        stars: 0,
        submitStatus: null
      }
    },
    validations: {
      message: {
        required,
        minLength: minLength(5)
      },
      title: {
        required,
        minLength: minLength(5)
      },
      author: {
        required,
        minLength: minLength(5)
      },
    },
    methods: {
      submit() {
        console.log('submit!')
        this.$v.$touch()
        if (this.$v.$invalid) {
          this.submitStatus = 'ERROR'
        } else {
          this.submitStatus = 'PENDING'
          setTimeout(() => {
            this.submitStatus = 'OK'
            var review = {
              genre: this.genre,
              title: this.title,
              author: this.author,
              message: this.message,
              stars: this.stars
            }
            this.review = review
            console.log('Submitting in DonationForm : ' +
              JSON.stringify(this.donation, null, 5))
            this.$emit('review-is-created-updated', this.review)
          }, 500)
        }
      }
    }
  }

</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }
   .review-form .form-control-label.text-left {
    text-align: left;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
    font-palette: dark;
    font-weight: bold;

  }
  .typo__p {
    width: 540px;
    font-size: x-large;
  }
  .btn1 {
    width: 300px;
    font-size: x-large;
  }
  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    width: 540px;
  }

  .dirty {
    border-color: #5A5;
    background: #EFE;
  }

  .dirty:focus {
    outline-color: #8E8
  }

  .error {
    border-color: red;
    background: #157ffb;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>
