<template>
  <div id="app1" class="paperback">
    <h3 class="vue-title"><i class="fa fa-money" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <review-form :review="review" reviewBtnTitle="Leave Review"
                         @review-is-created-updated="leaveReview"></review-form>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>
</template>

<script>
  import ReviewService from '@/services/ReviewService'
  import ReviewForm from '@/components/ReviewForm'

  export default {
    data () {
      return {
        review: {genretype: 'Mystery', title: 'A book', message: ''},
        messagetitle: ' Leave Review '
      }
    },
    components: {
      'review-form': ReviewForm
    },
    methods: {
      submitReview: function (review) {
        ReviewService.postReview(review)
          .then(response => {
            console.log(response)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      }
    }
  }
</script>

<style scoped>
  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
