<template>
  <div class="paperback">
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div id="app1">
      <v-client-table :columns="columns" :data="reviews" :options="options">
        <a slot="stars" slot-scope="props" class="fa fa-thumbs-up fa-2x" @click="stars(props.row._id)"></a>
        <a slot="edit" slot-scope="props" class="fa fa-edit fa-2x" @click="editReview(props.row._id)"></a>
        <a slot="remove" slot-scope="props" class="fa fa-trash-o fa-2x" @click="deleteReview(props.row._id)"></a>
      </v-client-table>
    </div>
  </div>
</template>

<script>
  import ReviewService from '@/services/ReviewService'
  import Vue from 'vue'
  import VueTables from 'vue-tables-2'


  Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})


    export default {
        name: "Reviews",
        data(){
          return{
            messagetitle:'Reviews Archive',
            reviews: [],
            props: ['_id'],
            errors: [],
            columns: ['genre','title','author','review','stars','remove','edit'],
            options: {
              perPage: 10,
              filterable: ['genre', 'title', 'stars'],
              sortable: ['stars'],
              headings: {
                sortable: ['stars'],
                genre:'Genre',
                title:'Book Title',
                author:'Author',
                review:'Review',
                stars:'Stars'
              }
            }
          }
        },
      // Fetches Donations when the component is created.
      created () {
        this.loadReviews()
      },
      methods: {
        loadReviews: function () {
          ReviewService.fetchReviews()
            .then(response => {
              // JSON responses are automatically parsed.
              this.reviews = response.data
              console.log(this.reviews)
            })
            .catch(error => {
              this.errors.push(error)
              console.log(error)
            })
        }
      },
      // Fetches Donations when the component is created.
      stars: function (id) {
        ReviewService.starsReview(id)
          .then(response => {

            console.log(response)
          })
          .catch(error => {
            this.errors.push(error)
            console.log(error)
          })
      },
      editReview: function (id) {
        this.$router.params = id
        this.$router.push('edit')
      },
      deleteReview: function (id) {
        this.$swal({
          title: 'Are you sure?',
          text: 'You can\'t Undo this action',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'OK Delete it',
          cancelButtonText: 'Cancel',
          showCloseButton: true,
          showLoaderOnConfirm: true
        }).then((result) => {
          console.log('SWAL Result : ' + result)
          if (result.value === true) {
            ReviewService.deleteReview(id)
              .then(response => {
                // JSON responses are automatically parsed.
                this.message = response.data
                console.log(this.message)
                this.loadReviews()
                // Vue.nextTick(() => this.$refs.vuetable.refresh())
                this.$swal('Deleted'  + JSON.stringify(response.data, null, 5), 'success')
              })
              .catch(error => {
                this.$swal('ERROR', 'Something went wrong trying to Delete ' + error, 'error')
                this.errors.push(error)
                console.log(error)
              })
          } else {
            this.$swal('Cancelled', 'Your Review still Counts!', 'info')
          }
        })
      }
    }
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
  #app1 {
    width:60%;
    margin: 0 auto;
  }

</style>
