<template>
  <div id="app">
    <b-navbar toggleable="md" variant="dark" type="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <img src="./assets/bookshelf.jpeg" class="img-circle" style="...">
      <b-navbar-brand to="/">Book Reviews App</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/#"><i class="fa fa-home" style="..."> Home</i></b-nav-item>
          <b-nav-item to="/reviews"><i class="fa fa-list" style="..."> Book Reviews</i></b-nav-item>
          <b-nav-item to="/review"><i class="fa fa-money" style="..."> Review</i></b-nav-item>
          <!--<b-nav-item to="/map"><i class="fa fa-globe" style="..."> Map</i></b-nav-item>-->
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/about"><i class="fa fa-info" style="..."> About Us</i></b-nav-item>
          <b-nav-item to="/contact"><i class="fa fa-comment" style="..."> Contact Us</i></b-nav-item>
          <b-nav-item to="/login"><i class="fa fa-sign-in" style="..."> Login </i></b-nav-item>
          <b-nav-item to="/logout"><i class="fa fa-sign-out" style="..."> Logout </i></b-nav-item>
          <i class="fa fa-pied-piper-alt fa-1x" style="..."></i>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!--<img src="./assets/booktitles.jpeg">-->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #142952;
    background: url("./assets/teabook.jpg") left ;
  }
  .VueTables__sortable {
    cursor: crosshair;
  }
</style>
